//===============================
// Fork.it Variables
//===============================

// Colors
$primary-color: color("grey", "darken-1");
$secondary-color: color("grey", "darken-3");
$bg-color: #fff;
$link-color: color("grey", "darken-2");

// Fonts

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$secondary-font-stack: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

// Recipe cards
$recipe-card-bg-color: #fff;

$chip-selected-color: #e4e4e4;

$footer-bg-color: color("grey", "darken-2");
