{% extends "base.html" %}
{% block title %}Add Recipe - Fork.it{% endblock %}
{% block content %}
<section class="container">
<h1>{{ action }} Recipe</h1>
<form method="POST" id="create-recipe">
    <div class="input-field col s12 no-b-margin">
        <label for="title"><i class="material-icons left">title</i>Title</label>
        <input type="text" name="title" id="title" maxlength="100" value="{{ recipe['title'] }}">
        <span class="helper-text" data-error="The recipe must include a title.">* required.</span>
    </div>
    {% if recipe['old-image'] %}
    <div class="col s12 overlay-container" id="old-image-container">
        <img src="{{ recipe['old-image'] }}" alt="{{ recipe['title'] }}" class="responsive-img resize-height" id="old-imag-img">
        <div id="old-image-overlay" class="overlay" style="">
            <a class="btn-floating btn-large waves-effect waves-light red scale-transition tooltipped" data-position="left" data-tooltip="Delete image" id="old-image-delete">
                <i class="material-icons">delete</i>
            </a>
        </div>
    </div>
    <input type="hidden" name="old-image" id="old-image" value="{{ recipe['old-image'] }}">
    {% endif %}
    <div class="col s12 overlay-container">
        {# Canvas for displaying and editing uploaded image#}
        <canvas id="input-canvas" class="resize-height"></canvas>
        <div id="canvas-overlay" class="overlay">
            <a class="btn-floating btn-large waves-effect waves-light red scale-transition scale-out tooltipped" data-position="left" data-tooltip="Delete image" id="image-delete">    <i class="material-icons">delete</i>
            </a>
            <a class="btn-floating btn-large waves-effect waves-light scale-transition scale-out tooltipped" data-position="left" data-tooltip="Crop image" id="image-crop">
                <i class="material-icons">crop</i>
            </a>
            <a class="btn-floating btn-large waves-effect waves-light scale-transition scale-out tooltipped" data-position="left" data-tooltip="Reset image" id="image-reset">
                <i class="material-icons">refresh</i>
            </a>
        </div>
    </div>
    <div class="file-field input-field col s12">
        <div class="btn-small">
            {% if recipe['old-image'] %}<span>Replace Image<i class="material-icons right">image</i></span>
            {% else %}<span>Select Image<i class="material-icons right">image</i></span>{% endif %}
            <input type="file" id="image-upload" accept="image/*">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path" type="text">
        </div>
    </div>
    {# Hidden canvas for exporting final image, and hidden input for submitting it as part of the form #}
    <canvas id="output-canvas" width="1200" height="700" class="hide"></canvas>
    <input type="hidden" name="image" id="image-data" value="">
    <div class="input-field col s12">
        <label class='ingredient-label'><i class="material-icons left">list</i>Ingredients</label>
        <ul class="ingredient">
            {% if recipe['ingredients'] %}
            {% for ingredient in recipe['ingredients'].split('\n') %}
            <li><textarea class="materialize-textarea">{{ ingredient.strip() }}</textarea></li>
            {% endfor %}
            {% else %}
            <li><textarea class="materialize-textarea"></textarea></li>
            {% endif %}
        </ul>
        <span class="helper-text" data-error="The recipe must include at least one ingredient.">* required.</span>
        <input type="hidden" name="ingredients" id="ingredients">
    </div>
    <div class="input-field col s12">
        <label class="method-label"><i class="material-icons left">mode_edit</i>Method</label>
        <ol class="method">
            {% if recipe['methods'] %}
            {% for method in recipe['methods'].split('\n') %}
            <li><textarea class="materialize-textarea">{{ method.strip() }}</textarea></li>
            {% endfor %}
            {% else %}
            <li><textarea class="materialize-textarea"></textarea></li>
            {% endif %}
        </ol>
        <span class="helper-text" data-error="The recipe must include at least one method.">* required.</span>
        <input type="hidden" name="methods" id='methods'>
    </div>
    <div class="row">
        <div class="col s12">
            <i class="material-icons left">access_time</i> Prep-Time
        </div>
        <div class="col s12">
            {% if recipe['prep-time'] %}
            <div class="row" id="prep-time">
                <div class="input-field col xs5 s3 m2">
                    <label>Hours</label><input type="number" class="hours" value="{{ recipe['prep-time'][0] }}" min="0" max="24">
                    <span class="helper-text" data-error="Enter a prep time.">* required.</span>
                </div>
                <div class="input-field col xs5 s3 m2">
                    <label>Minutes</label><input type="number" class="minutes"  value="{{ recipe['prep-time'][1] }}" min="-1" max="60">
                </div>
            </div>
            <input type="hidden" name="prep-time" id="prep-time-input" value="{{ recipe['prep-time'][0] }}:{{ recipe['prep-time'][1] }}">
            {% else %}
            <div class="row" id="prep-time">
                <div class="input-field col xs5 s3 m2">
                    <label>Hours</label><input type="number" class="hours" value="00" min="0" max="24">
                    <span class="helper-text" data-error="Enter a prep time.">* required.</span>
                </div>
                <div class="input-field col xs5 s3 m2">
                    <label>Minutes</label><input type="number" class="minutes"  value="00" min="-1" max="60">
                </div>
            </div>
            <input type="hidden" name="prep-time" id="prep-time-input" value="00:00">
            {% endif %}
        </div>
        <div class="col s12">
            <i class="material-icons left">access_time</i> Cooking-Time
        </div>
        <div class="col s12">
            {% if recipe['cook-time'] %}
            <div class="row" id="cook-time">
                <div class="input-field col xs5 s3 m2">
                    <label>Hours</label><input type="number" class="hours"  value="{{ recipe['cook-time'][0] }}" min="0" max="24">
                </div>
                <div class="input-field col xs5 s3 m2">
                    <label>Minutes</label><input type="number" class="minutes" value="{{ recipe['cook-time'][1] }}" min="-1" max="60">
                </div>
            </div>
            <input type="hidden" name="cook-time" id="cook-time-input" value="{{ recipe['cook-time'][0] }}:{{ recipe['cook-time'][1] }}">
            {% else %}
            <div class="row" id="cook-time">
                <div class="input-field col xs5 s3 m2">
                    <label>Hours</label><input type="number" class="hours"  value="00" min="0" max="24">
                </div>
                <div class="input-field col xs5 s3 m2">
                    <label>Minutes</label><input type="number" class="minutes" value="00" min="-1" max="60">
                </div>
            </div>
            <input type="hidden" name="cook-time" id="cook-time-input" value="00:00">
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if recipe['parent'] %}
        <input type="hidden" name="parent" value="{{ recipe['parent'] }}">
        {% endif %}
        <div class="col s12">
            <p><i class="material-icons left">label_outline</i> Tags:</p>
        </div>
        <div class="col s12">
            <div id="tag-chips" class="chips" data-add-target="add-tag-button"></div>
            <a class="dropdown-trigger btn-small" href="#" data-target="add-tag" id="add-tag-button"><i class="material-icons left">add</i>Add Tag</a>
            <ul id="add-tag" class="dropdown-content" data-target="tag-chips">
                {% for tag in tags %}
                <li><a href="#!" data-chip-name="{{ tag['name'] }}">{{ tag['name'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <input type="hidden" name="tags" id="tag-input" value="">
        <div class="col s12">
            <p><i class="material-icons left">restaurant_menu</i> Meals:</p>
        </div>
        <div class="col s12">
            <div id="meal-chips" class="chips" data-add-target="add-meal-button"></div>
            <a class="dropdown-trigger btn-small" href="#" data-target="add-meal" id="add-meal-button"><i class="material-icons left">add</i>Add Meal</a>
            <ul id="add-meal" class="dropdown-content" data-target="meal-chips">
                {% for meal in meals %}
                <li><a href="#!" data-chip-name="{{ meal['name'] }}">{{ meal['name'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <input type="hidden" name="meals" id="meal-input" value="">
        <div class="input-field col s12">
            {% if action == 'Edit' %}
            <button class="btn waves-effect waves-light" type="submit">Update Recipe</button> 
            <a href="{{ url_for('delete_recipe', urn=urn) }}" class="btn waves-effect waves-light red">Delete Recipe</a>
            {% else %}
            <button class="btn waves-effect waves-light" type="submit">Submit Recipe</button>
            {% endif %}
        </div>
    </div>
</form>
</section>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/add-recipe.js')}}"></script>
{% if recipe['tags'] or recipe['meals']%}
<script>
$(function() {
    {# Adds tag and meal chips if forking or editing an existing recipe #}
    {% if recipe['tags'] %}
    let tags = {{ recipe['tags']|tojson }};
    tags.forEach(function(tagName) {
        tagChips.addChip({ tag: tagName });
    });
    {% endif %}
    {% if recipe['meals'] %}
    let meals = {{ recipe['meals']|tojson }};
    meals.forEach(function(mealName) {
        mealChips.addChip({ tag: mealName });
    });
    {% endif %}
});
</script>
{% endif %}
{% endblock %}