{% extends "base.html" %}
{% block title %}
Admin Settings - Fork.it
{% endblock %}
{% block content %}
<section class="container">
<h1>Admin</h1>
<div class="row">
    <div class="col s12 m6">
        <form action="" method="POST">
            <div class="input-field col s12 no-b-margin">
                <input type="text" name="add-tag" id="add-tag" maxlength="100" class="validate" pattern="[A-Za-z-]+" required>
                <label for="add-tag"><i class="material-icons left">label_outline</i>Add New Tag</label>
                <span class="helper-text" data-error="Tags must contain only letters and hyphens."></span>
            </div>
            <div class="input-field col s12">
		        <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">add</i>Add Tag</button>
		    </div>
        </form>
        <form action="" method="POST">
            <div class="input-field col s12 no-b-margin">
                <select name="remove-tag" id="remove-tag">
                    <option value="" disabled selected>Choose a tag to delete</option>
                    {% for tag in tags %}
                    <option value="{{ tag['name'] }}">{{ tag['name'] }}</option>
                    {% endfor %}
                </select>
                <label for="remove-tag"><i class="material-icons left">delete</i>Remove Tag</label>
            </div>
            <div class="input-field col s12">
		        <button class="btn waves-effect waves-light red" type="submit"><i class="material-icons left">remove</i>Remove Tag</button>
		    </div>
        </form>
    </div>
    <div class="col s12 m6">
        <form action="" method="POST">
            <div class="input-field col s12 no-b-margin">
                <input type="text" name="add-meal" id="add-meal" maxlength="100" class="validate" pattern="[A-Za-z-]+" required>
                <label for="add-meal"><i class="material-icons left">restaurant_menu</i>Add New Meal</label>
                <span class="helper-text" data-error="Meals must contain only letters and hyphens."></span>
            </div>
            <div class="input-field col s12">
		        <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">add</i>Add Meal</button>
		    </div>
        </form>
        <form action="" method="POST">
            <div class="input-field col s12 no-b-margin">
                <select name="remove-meal" id="remove-meal">
                    <option value="" disabled selected>Choose a meal to delete</option>
                    {% for meal in meals %}
                    <option value="{{ meal['name'] }}">{{ meal['name'] }}</option>
                    {% endfor %}
                </select>
                <label for="remove-meal"><i class="material-icons left">delete</i>Remove Meal</label>
            </div>
            <div class="input-field col s12">
		        <button class="btn waves-effect waves-light red" type="submit"><i class="material-icons left">remove</i>Remove Meal</button>
		    </div>
        </form>
    </div>
</div>
</section>
{% endblock %}
{% block javascript %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
	    var elems = document.querySelectorAll('select');
	    var instances = M.FormSelect.init(elems);
	});
</script>
{% endblock %}