<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Fork.it</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if username %}
                <li>Logged in as {{username}}</li>
                <li><a href="{{ url_for('logout')}}">Log Out</a></li>
                <li><a href="{{ url_for('add_recipe') }}">Add New Recipe</a></li>
                {% else %}
                <a href="{{ url_for('login')}}">Log In</a>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section class="container">
    {% block content %}
    {% endblock %}
    </section>
    <script src="{{ url_for('static', filename='js/libs/materialize.min.js')}}"></script>
    {% block javascript %}
    {% endblock %}
    {% with messages = get_flashed_messages() %}
	    {% if messages %}
		    <script>
		    {% for message in messages %}
		    	M.toast({ html: '{{ message }}' });
		    {% endfor %}
		    </script>
	    {% endif %}
    {% endwith %}
</body>

</html>