{% extends "base.html" %}
{% block title %}Cookie Policy - Fork.it{% endblock %}
{% block content %}
<article class="container">
    <div class="row">
        <h1>Cookie Policy</h1>
        <p class="flow-text">Fork.it uses first party session cookies, these cookies are essential in order to enable you to move around the website and use its features, such as accessing secure areas of the website. These cookies are cnsidered strictly necessary, without them services you have asked for cannot be provided.</p>
        <p class="flow-text">By signing up or logging in to Fork.it you consent to the use of these cookies, if you do not want Fork.it to use any cookies while you browse the site please disable them in your browser settings.</p>
        <p class="flow-text">Fork.it does not use any persistent or third party cookies to track or collect data on your use of the site.</p>
        <div class="divider"></div>
        <h2>What are cookies?</h2>
        <p class="flow-text">Cookies are text files containing small amounts of information which are downloaded to your device when you visit a website. Cookies are then sent back to the originating website on each subsequent visit, or to another website that recognises that cookie. Cookies are useful because they allow a website to recognise a user’s device. You can find more information about cookies at: <a href="www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a> and <a href="www.youronlinechoices.eu" target="_blank">www.youronlinechoices.eu</a>.</p>
    </div>
</article>
{% endblock %}