{% import 'macros.html' as macro %}
{% extends "base.html" %}
{% block title %}
Fork.it
{% endblock %}
{% block content %}
<section class="container-m">
    <div class="row no-b-margin">
        <div class="carousel carousel-slider" id="features">
            <div class="controls-wrapper">
                <div class="controls">
                    <a class="btn-floating btn-large waves-effect waves-light left" id="carousel-left"><i class="material-icons">chevron_left</i></a>
                    <a class="btn-floating btn-large waves-effect waves-light right" id="carousel-right"><i class="material-icons">chevron_right</i></a>
                </div>
            </div>
            {% for recipe in featured_recipes %}
            <div class="carousel-item">
                <div class="recipe-card">
                    <a href="{{ url_for('recipe', urn=recipe['urn']) }}"  title="{{ recipe['title'] }} by {{ recipe['username'] }}">
                        <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}" class="responsive-img">
                    </a>
                    <div class="recipe-details">
                        <div class="recipe-title">
                            <a href="{{ url_for('recipe', urn=recipe['urn']) }}" title="{{ recipe['title'] }}">{{ recipe['title'] }}</a>
                        </div><br>
                        <div class="recipe-author">
                            by <a href="{{ url_for('user_page', user=recipe['username']) }}">{{ recipe['username'] }}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col s12">
            <ul class="tabs" id="tabs">
                {% if following_recipes %}
                <li class="tab"><a  class="active" href="#following-recipes">My Feed</a></li>
                <li class="tab"><a class="active" href="#recent-recipes">Recent Recipes</a></li>
                {% else %}
                <li class="tab"><a class="active" href="#recent-recipes">Recent Recipes</a></li>
                {% endif %}
                <li class="tab"><a href="#popular-recipes">Popular Recipes</a></li>
                <li class="tab"><a href="#about">About Fork.it</a></li>
                {% if username %}
                <li class="tab"><a target="_self" href="{{ url_for('add_recipe') }}"><i class="material-icons left">create</i>Add Recipe</a></li>
                {% else %}
                <li class="tab"><a target="_self" href="{{ url_for('new_user') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div id="recent-recipes" class="col s12">
            {{ macro.recipe_list(recent_recipes['recipes']) }}
            <div class="row center">
                <a href="{{ url_for('recipes', **recent_recipes['query'])}}" class="waves-effect waves-light btn see-all">See all recent recipes</a>
            </div>
        </div>
        {% if following_recipes %}
        <div id="following-recipes" class="col s12">
            {{ macro.recipe_list(following_recipes['recipes']) }}
            <div class="row center">
                <a href="{{ url_for('recipes', **following_recipes['query'])}}" class="waves-effect waves-light btn see-all">See all recipes from those you follow</a>
            </div>
        </div>
        {% endif %}
        <div id="popular-recipes" class="col s12">
            {{ macro.recipe_list(popular_recipes['recipes']) }}
            <div class="row center">
                <a href="{{ url_for('recipes', **popular_recipes['query'])}}" class="waves-effect waves-light btn see-all">See all popular recipes</a>
            </div>
        </div>
        <div id="about" class="col s12">
            {{ macro.about(request.path) }}
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
const $ = cash;
$(function() {
    let tabs = M.Tabs.init($('#tabs')[0]);
    let features = M.Carousel.init($('#features')[0], { fullWidth: true, dist: 0, indicators: true, dist: 0 });
    $('#carousel-left').on('click', function() {
        features.prev();
    });
    $('#carousel-right').on('click', function() {
        features.next();
    });
});
</script>
{% endblock %}