{% macro pagination(endpoint, page=1, total=0, no_pages=5, step=10) -%}
{# Macro to create pagination for an endpoint, extra keyword arguments are passed to url_for #}
<div class="row">
    <div class="col s12 center">
        <ul class="pagination">
            {% set max_page = ((total - 1)/step|round(0,'ceil'))|int %}
            {% if page > 1 %}
            <li class="waves-effect">
                <a href="{{ url_for(endpoint=endpoint, page=page - 1, **kwargs) }}"><i class="material-icons">chevron_left</i></a>
            </li>
            {% else %}
            <li class="disabled"><a href="#!">
                <i class="material-icons">chevron_left</i></a>
            </li>
            {% endif %}
            {% for number in range ([[page -2, max_page - 4]|min, 1]|max, [[page + 2, no_pages]|max, max_page + 1]|min + 1) %}
            {% if page == number %}
            <li class="active"><a href="#!">{{ number }}</a></li>
            {% else %}
            <li class="waves-effect">
                <a href="{{ url_for(endpoint=endpoint, page=number, **kwargs) }}">{{ number }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page <= max_page %}<li class="waves-effect">
                <a href="{{ url_for(endpoint=endpoint, page=page + 1, **kwargs) }}"><i class="material-icons">chevron_right</i></a>
            </li>
            {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </ul>
    </div>
</div>
{%- endmacro %}


{% macro recipe_list(recipes) -%}
{# Macro to create styled recipe lists #}
<div class="row no-b-margin">
    {% for recipe in recipes %}
    <div class="col s12 m6">
        <div class="recipe-card">
            <div class="recipe-details">
                <div class="recipe-title">
                    <a href="{{ url_for('recipe', urn=recipe['urn']) }}">{{ recipe['title'] }}</a>
                </div><br>
                <div class="recipe-author">
                    by <a href="{{ url_for('user_page', user=recipe['username']) }}">{{ recipe['username'] }}</a>
                </div>
            </div>
            <a href="{{ url_for('recipe', urn=recipe['urn']) }}">
                {% if recipe['image'] %}
                <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }} by {{ recipe['username'] }}" class="responsive-img">
                {% else %}
                <img src="https://ci-cookbook.s3.amazonaws.com/vegetable-sushi.jpg" alt="{{ recipe['title'] }} by {{ recipe['username'] }}" class="responsive-img">
                {% endif %}
                <div class="recipe-stats">
                    {% if recipe['favourites'] %}
                    <i class="material-icons">favorite</i>{{ recipe['favourites'] }} 
                    {% else %}
                    <i class="material-icons">favorite</i>0 
                    {% endif %}
                    {% if recipe['comment-count'] %}
                    <i class="material-icons">comment</i>{{ recipe['comment-count'] }}
                    {% else %}
                    <i class="material-icons">comment</i>0
                    {% endif %}
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{%- endmacro %}


{% macro about(path) -%}
{# Macro to embed about page #}
<article>
    {% if path == url_for('about') %}
    <h1>About Fork.it</h1>
    {% else %}
    <h3>About Fork.it</h3>
    {% endif %}
    <p class="flow-text">Fork.it is a recipe website for sharing recipes. Whether you're looking for something to cook, somewhere to share your recipes or just inspiration, you're in the right place. Using the recipe search and filters you can find exactly what you're looking for, and favourite the best of them to come back to later.</p>
    <p class="flow-text">If you're more of a creative type you can submit your own recipes, and on Fork.it you can even take other people's recipes and put your own spin on them by 'forking' the recipe.</p>
    <p class="flow-text">Fork.it was created as part of the Code Institute Full Stack Developer Course for the Data Centric Development Milestone Project. You can find the whole project and a full writeup on <a href="https://github.com/ASquirrelsTail/cookbook" target="_blank">Github</a>.</p>
</article>
{%- endmacro %}