{% extends "base.html" %}
{% block content %}
<section class="container">
    <div class="row">
        <div class="col s12">
            <h1>Preferences</h1>
            <p class="flow-text">Select tags from the list below, such as dietary preferences, to show only recipes containing those tags on the front page and during searches. Select tags you wish to exclude, such as allergies, to ignore results that contain them.</p>
        </div>
    </div>
    <form action="" method="POST" id="preferences-form">
    <div class="col s12">
        <h2>Include Tags</h2>
        <div id="include-chips" class="wrap-chips">
            {% for tag in all_tags %}
            <div class="chip" data-tag="{{ tag['name'] }}"><a href="#!">{{ tag['name'] }}</a></div>
            {% endfor %}
            <input type="hidden" name="tags" id="tags">
        </div>
    </div>
    <div class="col s12">
        <h2>Exclude Tags</h2>
        <div id="exclude-chips" class="wrap-chips">
            {% for tag in all_tags %}
            <div class="chip" data-tag="{{ tag['name'] }}"><a href="#!">{{ tag['name'] }}</a></div>
            {% endfor %}
            <input type="hidden" name="exclude" id="exclude">
        </div>
    </div>
    <div class="input-field col s12">
        <button class="btn waves-effect waves-light" type="submit" name="action">Update Preferences</button>
    </div>
    </form>
</section>
{% endblock %}
{% block javascript %}
<script>
	const $ = cash;

	$('.chip').on('click', function() {
        $(this).toggleClass('active');
    });

    function chipsToInput(chipContainer, targetInput) {
    	let chipsInput = [];
			$(chipContainer + ' .chip.active').each(function() {
				chipsInput.push($(this).data('tag'));
			});
			if (chipsInput.length > 0) $(targetInput).val(chipsInput.join(' '));
    }

    function activateChips(chipContainer, tagString) {
    	let tags = []
        if (tagString.indexOf(' ') != -1) tags = tagString.split(' ');
        else tags = [tagString];
        tags.forEach(function(tag) {
        	if (tag != '') $(chipContainer).find('[data-tag=' + tag + ']').addClass('active');
        });
    }

    $(function() {
    	{% if preferences %}
    	activateChips('#include-chips', '{{ preferences }}')
        {% endif %}
        {% if exclusions %}
        activateChips('#exclude-chips', '{{ exclusions }}')
        {% endif %}

        $('#preferences-form').on('submit', function(e) {
        	chipsToInput('#include-chips', '#tags');
        	chipsToInput('#exclude-chips', '#exclude');
        });
    });
</script>
{% endblock %}