{% import 'macros.html' as macro %}
{% extends "base.html" %}
{% block title %}
Recipes - Fork.it
{% endblock %}
{% block content %}
<section class="container">
    <div class="row no-b-margin">
        <div class="col s12 l3 filters">
            <div class="col s12">
                <p class="flow-text no-b-margin">Found {{ no_recipes }} recipes.</p>
            </div>
            <form action="" method="GET" id="filters-form">
                <div class="input-field col s12 m6 l12">
                    <input type="text" name="filter-search" id="filter-search" {% if current_query['search'] %}value="{{ current_query['search'] }}" {% endif %}>
                    <label for="filter-search"><i class="material-icons left">search</i>Search</label>
                </div>
                <div class="input-field col s12 m6 l12">
                    <select name="meals" id="meals">
                        {% if current_query['meals'] %}
                        <option value="">All Meals</option>
                        {% else %}
                        <option value="" selected>All Meals</option>
                        {% endif %}
                        {% for meal in all_meals %}
                        {% if current_query['meals'] == meal['name'] %}
	                    <option value="{{ meal['name'] }}" selected>{{ meal['name'] }}</option>
	                    {% else %}
	                    <option value="{{ meal['name'] }}">{{ meal['name'] }}</option>
	                    {% endif %}
                        {% endfor %}
                    </select>
                    <label for="meals">Meal</label>
                </div>
                <div class="col s12">
                	<div>Tags</div>
                	<div id="tag-chips">
                		{% for tag in all_tags %}
                        <div class="chip" data-tag="{{ tag['name'] }}"><a href="#!">{{ tag['name'] }}</a></div>
                        {% endfor %}
                        <input type="hidden" name='tags' id="tags">
                	</div>
                </div>
                <div class="input-field col s12 m6 l12">
                    <select name="sort" id="sort">
                    	{% if not current_query['sort'] or current_query['sort'] == 'views' %}
                        <option value="views" selected>Most Viewed</option>
                        {% else %}
                        <option value="views">Most Viewed</option>
                        {% endif %}
                        {% if current_query['sort'] == 'date'%}
                        <option value="date" selected>Most Recent</option>
                        {% else %}
                        <option value="date">Most Recent</option>
                        {% endif %}
                        {% if current_query['sort'] == 'favourites'%}
                        <option value="favourites" selected>Most Favourited</option>
                        {% else %}
                        <option value="favourites">Most Favourited</option>
                        {% endif %}
                    </select>
                    <label for="sort">Order by</label>
                </div>
            </form>
        </div>
        <div class="col s12 l9">
            {{ macro.pagination('recipes', page, no_recipes, **current_query)}}
            {{ macro.recipe_list(recipes) }}
            
        </div>
    </div>
    <div class="row">
    	<div class="col s12 l9 offset-l3">
    		{{ macro.pagination('recipes', page, no_recipes, **current_query)}}
    	</div>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
	const $ = cash;
	const select = M.FormSelect.init($('select'));

    $(function() {
    	{% if current_query['tags'] %}
        let tags = '{{ current_query['tags'] }}'
        if (tags.indexOf(' ') != -1) tags = tags.split(' ');
        else tags = [tags];
        tags.forEach(function(tag) {
        	if (tag != '') $('#tag-chips').find('[data-tag=' + tag + ']').addClass('active');
        });
        {% endif %}

        $('.input-field select').on('change', function() {
            $('#filters-form').trigger('submit');
        });

        $('.chip').on('click', function() {
            $(this).toggleClass('active');
            $('#filters-form').trigger('submit');
        });

        $('#filter-search').on('keydown', function(e) {
        	if (e.which == 13 && $(this).val() != null) $('#filters-form').trigger('submit');
        });

        $('#filters-form').on('submit', function() {
        	let tagsInput = [];
			$('.chip.active').each(function() {
				tagsInput.push($(this).data('tag'));
			});
			if (tagsInput.length > 0) $('#tags').val(tagsInput.join(' '));
			else $('#tags').remove();
			$('#filter-search').attr('name', 'search');
			$('#filters-form')[0].submit();
        });
    });
</script>
{% endblock %}