{% extends "base.html" %}
{% block title %}
{{ recipe['title'] }} - Fork.it
{% endblock %}
{% block content %}
{% if username %}
<div class="options right">
    {% if username == recipe['username'] or username == 'Admin' %}
    <a href="{{ url_for('edit_recipe', urn=recipe['urn']) }}" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">mode_edit</i></a>
    {% if username == 'Admin' %}
    <a href="{{ url_for('feature_recipe', urn=recipe['urn']) }}" class="btn-floating btn-large waves-effect waves-light" id="feature-btn">
        {% if recipe['featured'] %}
        <i class="material-icons">star</i>
        {% else %}
        <i class="material-icons">star_border</i>
        {% endif %}
    </a>
    {% endif %}
    {% else %}
    <a href="{{ url_for('favourite_recipe', urn=recipe['urn']) }}" class="btn-floating btn-large waves-effect waves-light" id="fav-btn">
        {% if favourite %}
        <i class="material-icons">favorite</i>
        {% else %}
        <i class="material-icons">favorite_border</i>
        {% endif %}
    </a>
    {% endif %}
</div>
{% endif %}
<article>
    <div class="container recipe-header">
        <h1>{{ recipe['title'] }}</h1>
    </div>
    {% if recipe['image'] %}
    <div class="container-m">
        <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}" class="responsive-img">
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                By <a href="{{ url_for('recipes', username=recipe['username']) }}">{{ recipe['username'] }}</a> on {{ recipe['date'] }}.
                {% if recipe['parent-title'] %}
                It's a fork of <a href="{{ url_for('recipe', urn=recipe['parent']) }}">{{ parent_title }}</a>
                {% if recipe['forks'] %}
                and has <a href="{{ url_for('recipes', forks=urn) }}">{{ recipe['forks'] }} forks</a> of it's own.
                {% endif %}
                {% else %}
                {% if recipe['forks'] %}
                It has <a href="{{ url_for('recipes', forks=urn) }}">{{ recipe['forks'] }} forks</a>.
                {% endif %}
                {% endif %}
                
                <i class="material-icons small">access_time</i> Prep-Time: {{ recipe['prep-time'] }}
                <i class="material-icons small">access_time</i> Cooking-Time: {{ recipe['cook-time'] }}
                {% if recipe['meals'] %}
            </div>
            <div class="col s12 m6">
                {% for meal in recipe['meals'] %}
                <div class="chip"><a href="{{ url_for('recipes', meals=meal) }}">{{meal}}</a></div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="ingredients">
                    <table class="striped">
                        <thead>
                            <tr>
                                <td>
                                    <h2>Ingredients</h2>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="flow-text">
                            {% for ingredient in recipe['ingredients'] %}
                            <tr>
                                <td>{{ ingredient }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h2 class="method-header">Method</h2>
                <ol class="method">
                    {% for method in recipe['methods'] %}
                    <li class="flow-text">{{ method }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="row tags">
            {% if recipe['tags'] %}
            <div class="col s12">
                <h3>Tags</h3>
                {% for tag in recipe['tags'] %}
                <div class="chip"><a href="{{ url_for('recipes', tags=tag) }}">{{tag}}</a></div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% if username %}
        <div class="row">
            <a href="{{ url_for('add_recipe', fork=recipe['urn']) }}" class="waves-effect waves-light btn">Fork this recipe</a>
        </div>
        {% endif %}
    </div>
</article>
{% endblock %}
{% block javascript %}
<script>
    const $ = cash;

    function jsonGet(url, callback) {
        let xhr = new XMLHttpRequest();

        xhr.open("GET", url, true); //Filter by postcodes, lat and lng as these are the only things we need
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = callback;

        xhr.send(); 
    }

    function updateFavourite() {
        if (this.readyState == 4) {
            if (this.status == 200) {
                let response = JSON.parse(this.responseText);
                if (response.favourite === true) {
                    $('#fav-btn i').text('favorite');
                    M.toast({ html: '<i class="material-icons left">favorite</i> Recipe added to favorites!' });
                }else if (response.favourite === false) {
                    $('#fav-btn i').text('favorite_border');
                    M.toast({ html: 'Recipe removed from favourites.' });
                }
            }else M.toast({ html: 'Oops. Something went wrong.' });
        }
    }

    function updateFeature() {
        if (this.readyState == 4) {
            if (this.status == 200) {
                let response = JSON.parse(this.responseText);
                if (response.feature === true) {
                    $('#feature-btn i').text('star');
                    M.toast({ html: '<i class="material-icons left">star</i> Recipe featured!' });
                }else if (response.feature === false) {
                    $('#feature-btn i').text('star_border');
                    M.toast({ html: 'Recipe removed from features.' });
                }
            }else M.toast({ html: 'Oops. Something went wrong.' });
        }
    }

    $(function() {
        $('#fav-btn').on('click', function(e) {
            e.preventDefault();
            jsonGet($(this).attr('href'), updateFavourite);
        });
        $('#feature-btn').on('click', function(e) {
            e.preventDefault();
            jsonGet($(this).attr('href'), updateFeature);
        });
    });


</script>
{% endblock %}