{% import 'macros.html' as macro %}
{% extends "base.html" %}
{% block title %}{{ recipe['title'] }} - Fork.it{% endblock %}
{% block content %}
{% if username %}
<div class="options right hide-on-small-and-down">
    {% if username == recipe['username'] or username == 'Admin' %}
    <a href="{{ url_for('edit_recipe', urn=recipe['urn']) }}" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Edit recipe"><i class="material-icons">mode_edit</i></a>
    {% if username == 'Admin' %}
    <a href="{{ url_for('feature_recipe', urn=recipe['urn']) }}" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Feature recipe" id="feature-btn">
        {% if recipe['featured'] %}
        <i class="material-icons">star</i>
        {% else %}
        <i class="material-icons">star_border</i>
        {% endif %}
    </a>
    {% else %}
    <a href="{{ url_for('add_recipe', fork=recipe['urn']) }}" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Fork recipe">
        <img src="{{ url_for('static', filename='images/fork-white.png') }}" alt="Fork Recipe" class="responsive-img">
    </a>
    {% endif %}
    {% else %}
    <a href="{{ url_for('add_recipe', fork=recipe['urn']) }}" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Fork recipe">
        <img src="{{ url_for('static', filename='images/fork-white.png') }}" alt="Fork Recipe" class="responsive-img">
    </a>
    <a href="{{ url_for('favourite_recipe', urn=recipe['urn']) }}" class="btn-floating btn-large waves-effect waves-light tooltipped fav-link" data-position="left" data-tooltip="Favourite recipe" id="fav-btn">
        {% if favourite %}
        <i class="material-icons">favorite</i>
        {% else %}
        <i class="material-icons">favorite_border</i>
        {% endif %}
    </a>
    {% endif %}
</div>
{% endif %}
<article>
    <div class="container recipe-header">
        <h1>{{ recipe['title'] }}</h1>
    </div>
    {% if recipe['image'] %}
    <div class="container-m">
        <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}" class="responsive-img">
    </div>
    {% endif %}
    <div class="container">
        <div class="row recipe-info">
            <div class="col s12 m6 l7 center-on-small-only">
                <span>By <a href="{{ url_for('user_page', user=recipe['username']) }}">{{ recipe['username'] }}</a></span> <span>on {{ recipe['date'] }}</span>
                {% if recipe['parent-title'] %}
                <span>It's a fork of <a href="{{ url_for('recipe', urn=recipe['parent']) }}">{{ recipe['parent-title'] }}</a></span>
                {% endif %}
            </div>
            <div class="col s12 m6 l5 center stats">
                {% if recipe['forks'] %}
                <a href="{{ url_for('recipes', forks=urn) }}" class="tooltipped" data-position="top" data-tooltip="Forks">
                    <img src="{{ url_for('static', filename='images/fork-black.png') }}" class="responsive-img" alt="Forks"> {{ recipe['forks'] }}</a> 
                {% endif %}
                {% if username and username != 'Admin' and username != recipe['username'] %}
                <a href="{{ url_for('favourite_recipe', urn=recipe['urn']) }}" class="fav-link tooltipped" data-position="top" data-tooltip="Favourites">
                {% else %}
                <a href="#!" class="tooltipped" data-position="top" data-tooltip="Favourites">
                {% endif %}
                {% if recipe['favourites'] %}
                    {% if favourite %}
                    <i class="material-icons">favorite</i> 
                    {% else %}
                    <i class="material-icons">favorite_border</i> 
                    {% endif %}
                    <span class="fav-count">{{ recipe['favourites'] }}</span>
                {% else %}
                    <i class="material-icons">favorite_border</i> <span class="fav-count">0</span>
                {% endif %}
                </a> 
                <a href="#comments" class="tooltipped" data-position="top" data-tooltip="Jump to comments">
                {% if recipe['comment-count'] %}
                <i class="material-icons">comment</i> <span class="comment-count">{{ recipe['comment-count'] }}</span> 
                {% else %}
                <i class="material-icons">comment</i> <span class="comment-count">0</span> 
                {% endif %}
                </a>
            </div>
            
            <div class="col s12 times center-on-small-only">
                <span><i class="material-icons small">access_time</i> Prep-Time: {{ recipe['prep-time'] }} </span>
                <span><i class="material-icons small">access_time</i> Cooking-Time: {{ recipe['cook-time'] }}</span>
            </div>
            
        </div>
        <div class="row">
            <div class="col s12">
                <div class="ingredients">
                    <table class="striped">
                        <thead>
                            <tr>
                                <td>
                                    <h2>Ingredients</h2>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="flow-text">
                            {% for ingredient in recipe['ingredients'] %}
                            <tr>
                                <td>{{ ingredient }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h2 class="method-header">Method</h2>
                <ol class="method">
                    {% for method in recipe['methods'] %}
                    <li class="flow-text">{{ method }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="row tags">
            {% if recipe['meals'] %}
            <div class="col s12 m6">
                <h3>Meals</h3>
                {% for meal in recipe['meals'] %}
                <div class="chip"><a href="{{ url_for('recipes', meals=meal) }}">{{meal}}</a></div>
                {% endfor %}
            </div>
            {% endif %}
            {% if recipe['tags'] %}
            <div class="col s12 m6">
                <h3>Tags</h3>
                {% for tag in recipe['tags'] %}
                <div class="chip"><a href="{{ url_for('recipes', tags=tag) }}">{{tag}}</a></div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% if username %}
        <div class="row hide-on-med-and-up">
            <div class="col s12 options-mobile center">
                {% if username == recipe['username'] or username == 'Admin' %}
                <a href="{{ url_for('edit_recipe', urn=recipe['urn']) }}" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="top" data-tooltip="Edit recipe"><i class="material-icons">mode_edit</i></a>
                {% if username == 'Admin' %}
                <a href="{{ url_for('feature_recipe', urn=recipe['urn']) }}" class="btn-floating btn-large waves-effect waves-light tooltipped feat-link" data-position="top" data-tooltip="Feature recipe">
                    {% if recipe['featured'] %}
                    <i class="material-icons">star</i>
                    {% else %}
                    <i class="material-icons">star_border</i>
                    {% endif %}
                </a>
                {% else %}
                <a href="{{ url_for('add_recipe', fork=recipe['urn']) }}" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="top" data-tooltip="Fork recipe">
                    <img src="{{ url_for('static', filename='images/fork-white.png') }}" alt="Fork Recipe" class="responsive-img">
                </a>
                {% endif %}
                {% else %}
                <a href="{{ url_for('add_recipe', fork=recipe['urn']) }}" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="top" data-tooltip="Fork recipe">
                    <img src="{{ url_for('static', filename='images/fork-white.png') }}" alt="Fork Recipe" class="responsive-img">
                </a>
                <a href="{{ url_for('favourite_recipe', urn=recipe['urn']) }}" class="btn-floating btn-large waves-effect waves-light tooltipped fav-link" data-position="top" data-tooltip="Favourite recipe">
                    {% if favourite %}
                    <i class="material-icons">favorite</i>
                    {% else %}
                    <i class="material-icons">favorite_border</i>
                    {% endif %}
                </a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="divider"></div>
        <div class="row">
            <div class="col s12" id='comments'>
                <h4>Comments</h4>
                {% if recipe['comment-count'] %}
                <p id="comment-count">{{ recipe['comment-count'] }} comments.</p>
                <div id="comments-content">
                    {{ macro.comment_list(recipe, urn, username) }}
                    <div class="divider"></div>
                </div>
                {% else %}
                <p id="comment-count">No comments. Be the first to comment on this recipe.</p>
                <div id="comments-content"></div>
                {% endif %}
                <p></p>
            </div>
        
            {% if username %}
            <form action="{{ url_for('comments', urn=recipe['urn']) }}" method="POST" id='add-comment'>
                <div class="col s12">
                    <p>Commenting as {{username}}</p>
                </div>
                <div class="input-field col s12">
                      <textarea id="comment" name="comment" class="materialize-textarea validate" required></textarea>
                      <label for="comment">Comment</label>
                      <span class="helper-text" data-error="Please enter a comment!"></span>
                </div>
                <div class="col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Post Comment</button>
                </div>
            </form>
            {% else %}
            <div class="col s12">
                <p><a class="modal-trigger" href="#login-modal">Log in</a> to comment on this recipe.</p>
            </div>
            {% endif %}
        </div>
    </div>
</article>
{% endblock %}
{% block javascript %}
<script>
    var deleteCommentUrl = '{{ url_for('delete_comment', urn=urn) }}';
    var commentUrl = '{{ url_for("comments", urn=urn) }}';
</script>
<script src="{{ url_for('static', filename='js/recipe-page.js') }}"></script>
{% endblock %}