{% extends "base.html" %}
{% block content %}
    Recipes: {{ no_recipes }}
    <div class="row">
    {% for recipe in recipes %}
        <div class="col s12">
            <a href="{{ url_for('recipe', urn=recipe['urn']) }}">{{ recipe['title']}}</a> by {{ recipe['username'] }}
        </div>
    {% endfor %}
    </div>
    <div class="row">
    	<div class="col s12 center">
    		<ul class="pagination">
		    {% if page > 1 %}<li class="waves-effect"><a href="{{ url_for(endpoint='recipes', page=page - 1, **current_query) }}"><i class="material-icons">chevron_left</i></a></li>
		    {% else %}<li class="disabled"><i class="material-icons">chevron_left</i></li>{% endif %}
		    <li class="active"><a href="#!">1</a></li>
		    <li class="waves-effect"><a href="#!">2</a></li>
		    <li class="waves-effect"><a href="#!">3</a></li>
		    <li class="waves-effect"><a href="#!">4</a></li>
		    <li class="waves-effect"><a href="#!">5</a></li>
		    {% if page * 10 < no_recipes %}<li class="waves-effect"><a href="{{ url_for(endpoint='recipes', page=page + 1, **current_query,) }}"><i class="material-icons">chevron_right</i></a></li>
		    {% else %}<li class="disabled"><i class="material-icons">chevron_right</i></li>
		    {% endif %}
		  </ul>
    	</div>
    </div>
{% endblock %}