{% import 'macros.html' as macro %}
{% extends "base.html" %}
{% block title %}
Users - Fork.it
{% endblock %}
{% block content %}
<section class="container">
    <div class="row no-b-margin">
        <div class="col s12 l3 filters">
        	<form action="" method="GET" id="filters-form">
	            <div class="col s12">
	                <p class="flow-text no-b-margin">Found {{ no_users }} users.</p>
	            </div>
                <div class="input-field col s12 m6 l12">
                    <select name="sort" id="sort">
                    	{% if not current_query['sort'] or current_query['sort'] == 'joined' %}
                        <option value="joined" selected>Newest</option>
                        {% else %}
                        <option value="joined">Newest</option>
                        {% endif %}
                        {% if current_query['sort'] == 'recipe-count' %}
                        <option value="recipe-count" selected>Most Recipes</option>
                        {% else %}
                        <option value="recipe-count">Most Recipes</option>
                        {% endif %}
                        {% if current_query['sort'] == 'follower-count' %}
                        <option value="follower-count" selected>Most Followers</option>
                        {% else %}
                        <option value="follower-count">Most Followers</option>
                        {% endif %}
                        {% if current_query['sort'] == 'username' %}
                        <option value="username" selected>Alphabetic</option>
                        {% else %}
                        <option value="username">Alphabetic</option>
                        {% endif %}
                    </select>
                    <label for="sort">Order by</label>
                </div>
                {% if current_query['order'] == '1' %}
                <input type="hidden" name='order' id="order" value="1">
                {% else %}
                <input type="hidden" name='order' id="order" value="-1">
                {% endif %}
            </form>
        </div>
        <div class="col s12 l9">
            {{ macro.pagination('user_list', page, no_users, **current_query)}}
            {% for user in users %}
            <div class="col s12 m6">
                <div class="user-card">
                    <a href="{{ url_for('user_page', user=user['username']) }}">
                        <div class="user">{{ user['username'] }}</div>
                        <div class="followers">
                            {% if user['follower-count'] %}
                            Followers: {{ user['follower-count'] }}
                            {% else %}
                            Followers: 0
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
    	<div class="col s12 l9 offset-l3">
    		{{ macro.pagination('recipes', page, no_users, **current_query)}}
    	</div>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
    const $ = cash;
    const select = M.FormSelect.init($('select'));

    $(function() {
        $('.input-field select').on('change', function() {
            $('#filters-form').trigger('submit');
        });

        $('#filters-form').on('submit', function() {
            if ($('#sort').val() == 'username') $('#order').val('1');
            else $('#order').val('-1');
            $('#filters-form')[0].submit();
        });
    });
</script>
{% endblock %}