{% import 'macros.html' as macro %}
{% extends "base.html" %}
{% block title %}{{ user_details['username'] }} - Fork.it{% endblock %}
{% block content %}
<section class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="no-b-margin">{{ user_details['username'] }}</h1>
        </div>
        {% if username %}
        {% if username in user_details['followers'] %}
        <div class="col s12"><a href="{{ url_for('follow', user=user_details['username']) }}" class="btn">Un-Follow {{user_details['username']}}</a></div>
        {% else %}
        <div class="col s12"><a href="{{ url_for('follow', user=user_details['username']) }}" class="btn">Follow {{user_details['username']}}</a></div>
        {% endif %}
        {% endif  %}
        <div class="col s12 l3">
            Member since {{ user_details['joined'] }}
        </div>
        <div class="col s12 m4 l3">
            {% if user_details['follower-count'] %}
            <a href="{{ url_for('user_list', following=user_details['username']) }}">Followers: {{ user_details['follower-count'] }}</a>
            {% else %}
            Followers: 0
            {% endif %}
        </div>
        <div class="col s12 m4 l3">
            {% if user_details['following-count'] %}
            <a href="{{ url_for('user_list', followers=user_details['username']) }}">Following: {{ user_details['following-count'] }}</a>
            {% else %}
            Following: 0
            {% endif %}
        </div>
        <div class="col s12 m4 l3">
            {% if user_recipes['no_recipes'] and user_recipes['no_recipes'] > 0 %}
            <a href="{{ url_for('recipes', username=user_details['username']) }}">Recipes: {{ user_recipes['no_recipes'] }}</a>
            {% else %}
            Recipes: 0
            {% endif %}
        </div>
    </div>
        {% if user_recipes['no_recipes'] and user_recipes['no_recipes'] > 0 %}
        <div class="row">
            <div class="col s12">
                <p class="flow-text">{{ user_details['username'] }}'s most recent recipes:</p>
            </div>
        </div>
        {{ macro.recipe_list(user_recipes['recipes']) }}
        <div class="row center">
            <a href="{{ url_for('recipes', username=user_details['username'], preferences='-1')}}" class="waves-effect waves-light btn see-all">See all {{user_details['username']}}'s recipes</a>
        </div>
        {% else %}
        <div class="row">
            <div class="col s12">
                <p class="flow-text">This user doesn't have any recipes yet.</p>
            </div>
        </div>
        {% endif %}

</section>
{% endblock %}