// General changes to styles, and helper styles

h1, h2, h3, h4, h5, h6, .btn, .pagination {
	font-family: $secondary-font-stack;
	letter-spacing: 0.07em;
	font-weight: bold;
}

h1 {
	margin: 1rem;
	@media #{$small-and-down} {
		font-size: 3.3rem;
	}
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
	border-bottom: 2px dotted $input-border-color;
}

.container-m {
	@extend .container;
	@media #{$medium-and-down} {
		width: 100%;
	}
}

.no-b-margin {
	margin-bottom: 0 !important;
}

.secondary-font {
	font-family: $secondary-font-stack;
}

.btn {
	margin-bottom: 10px;
}

.btn-floating.btn-large img {
	height: 2.1rem;
	vertical-align: middle;
}

.btn:not(.btn-floating) img {
	width: 1.5em;
	vertical-align: middle;
}

.tabs {
	.tab {
		a {
			color: black;
			font-family: $secondary-font-stack;
			font-weight: bold;
			font-size: 14px;
			&:hover {
				background-color: rgba(0,0,0,.1);
			}
		}
		
		i {
			line-height: 48px;
		}
	}
}

.sidenav {
	li.info {
		padding: 0 32px;
	}
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;

	ul {
		margin-top: 5px;
	}

	.brand-logo {
		padding: 10px 20px;
		display: block;
		&:hover {
			background-color: initial;
		}
	}
}

.filters h1 {
	margin-left: 0;
	margin-right: 0;
	font-family: $font-stack;
	font-weight: normal;
}

.wrap-chips {
	display: flex;
	flex-wrap: wrap;
}

.chip {
	font-family: $secondary-font-stack;
	font-size: 1rem;
	border-radius: 0px;
	vertical-align: middle;

	a {
		color: black;
		text-decoration: underline;
	}

	&:focus {
		color: #000;
	}
	&:hover {
		color: #000;
	}

	&.active {
		background-color: $primary-color;
		color: #fff;
		order: -1;

		a {
			color: #fff;
		}
	}
}

.see-all {
	margin-top: 15px;
}

footer {
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		@media #{$small-and-down} {
			flex-direction: column;
		}
		li{
			display: block;
			padding: 0.5rem 1rem;
		}
	}
	a {
		font-family: $secondary-font-stack;
		color: color("grey", "lighten-4");
		text-decoration: underline;
	}
}