// Individual recipe page and add-recipe page

.ingredients {
	font-family: $secondary-font-stack;

    @media #{$extra-large-and-up} {
        float: left;
        margin: 0 2rem 2rem 0;
        max-width: 50%;

        thead {
        	border: 2px solid $table-striped-color;
        }
    }

    tbody {
    	border: 2px solid $table-striped-color;
    }

    h2 {
        margin: 0;
        font-size: 3rem;
    }

	::after {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		width: 1px;
		height: 100%;
		border-right: 1px solid color("grey", "lighten-2");
	}
}

.method-header {
	margin: 15px 0;
	font-size: 3rem;
}

.input-field .method-label {
    position: static;
}

.input-field {
    ol {
        li {
            display: flex;
        }

        li::before {
            border-color: $input-border-color;
            color: $input-border-color;
            float: none;
        }
    }
}

.method {
    list-style: none;
    counter-reset: method-counter;
    padding-left: 0;

    li {
		min-height: 3rem;
		padding-top: 0.5rem;

        textarea {
            display: block;
            width: 90%;
        }
    }

    li::before {
        display: inline-block;
        content: counter(method-counter);
        counter-increment: method-counter;
        font-family: $secondary-font-stack;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        float: left;
        width: 2.6rem;
        height: 2.6rem;
        line-height: 2.4rem;
        margin-right: 1rem;
        border: 3px solid black;
        border-radius: 50%;
    }
}

.tags {
	h3 {
		margin: 1rem 0 0.5rem;
		font-size: 2rem;
	}
}

.options {
	display: flex;
	flex-direction: column;
	margin: 1rem;

	.btn-floating {
		margin-bottom: 0.8rem;
	}
}