// Recipe cards
// Styles for recipe cards with floating title and author links over an image.

.recipe-card {
	position: relative;
	margin-bottom: 1rem;
	@extend .z-depth-1;

	.recipe-details {
		position: absolute;
		top: 1rem;
		width: 100%;
		height: 0px;

		.recipe-title, .recipe-author {
			@extend .z-depth-1;
			@extend .truncate;
			box-sizing: content-box;
			display: inline-block;
			max-width: 80%;
			margin: 0 1rem 0.5em 1rem;
			padding: 0.2em 0.5em;
			background-color: $recipe-card-bg-color;
			z-index: 99;

			a {
				color: #000;
				font-weight: bold;
			}
		}

		.recipe-title {
			font-family: $secondary-font-stack;
			letter-spacing: 0.07em;
			font-size: 1.4em;
		}
	}

	& > a {
		display: block;
		font-size: 0px;
	}

	.recipe-stats {
		@extend .z-depth-1;
		@extend .truncate;
		position: absolute;
		bottom: 0px;
		right: 0px;
		display: block;
		margin: 0.5rem;
		padding: 0.2em 0.4em;
		background-color: $recipe-card-bg-color;
		color: black;
		font-family: $secondary-font-stack;
		z-index: 99;
		font-size: 1.2rem;
		font-weight: bold;

		i {
			vertical-align: middle;
			margin-right: 0.25rem;
		}
	}
}